node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.pdf
web-build/

Python/Tilbudsaviser
.env
Python/img
Python/.ipynb_checkpoints
Python/*.json
Python/*.jpg
# macOS
.DS_Store
